.top,.topsticky{
    width: 100%;
    height: 5px;
    background-color:#EEF3F6;
    margin: 0;
    padding: 0;
    
    
}

#victorspg{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}a.victorspg{
    color: #5f4345e8 ;
}a.victorspg:hover{
    color:black;
    text-decoration: none;
}

ul{
    width: 100%;
    padding: 0px;
    background-color: white;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    overflow: hidden;
    margin: auto;
    display:inline-block; /* may change back to table */
}

.vpcontainer{
      padding-top: 15px;
      padding-bottom: 10px;
}

.vp{
      float: left;
      list-style: none;
      margin-left: 8px;
}

li.topli{
    font-size: 15px;
    float: right;
      display: inline-block;
      border: white;
      border-style: solid;
      border-width: 5px;
}#mrght{
    margin-right: 30px;
}a{
      text-decoration: none;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #6393a2ff;
}a:hover{
    color: black;
    text-decoration: none;
}
  


.pics{
    
}

/*side panel*/
.sidepanel  {
    opacity:0.9;
    width: 0;
    position: fixed;
    height: 200px;
    top: 10px;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #5f4345e8;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color:#6393a2ff;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #5f4345e8;
    color: white;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    float: right;
    margin-bottom: 7px;
    margin-top: -9px;
    margin-right: 8px;
  }
  
  .openbtn:hover {
    background-color:black;
  }



div.white{
    width: 81.55%;
    height: fit-content;
    background-color: white;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-repeat: no-repeat;

}





@media screen and (min-width:550px){
    .openbtn,.sidepanel{
        display: none;
    }
}


@media screen and (max-width:550px){
    li.topli{
        display: none;
       
    }
}


/*Picture Gallery*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }


  
.home{
    color: black;
}
  
.line{
    width: 10%;
    height: 5px;
  
  
}
.grnline{
      width: 100%;
      height: 2px;
      background-color:#5f4345e8;
}

ul#contact{
    padding-bottom: 30px;
      width: 100%;
      height: max-content;
      background-color:#5f4345e8;
      display: inline-block;
      margin: auto;
}
li.contactli{
    list-style: none;
}.leftimg,.rightimg{
    width: 5%;
    float: left;
}.rightimg{
    margin-left: 20%;
  
}a.contact{
    color: white;
    float: left;
    
}
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center; 
    color: black;
    
    background-image: url("./texture.png");
    background-size: cover;
    background-repeat: no-repeat;

}

  
 
  

